<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.chapterLabel }} {{ chapterNum }}: {{ title }} – {{ site.title }}</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body class="book book-moral-letters">

{% include "letter-content.njk" %}

<script src="/user-data.js" defer></script>
</body>
</html>
